
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <base href="%PUBLIC_URL%/" />
    <title>_Layout</title>
    <link href="~/dist/main.css" rel="stylesheet" />
</head>
<body>

    @RenderBody()
    
</body>
</html>
