
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <base href="%PUBLIC_URL%/" />
    <title>_Layout</title>
    <link href="~/dist/main.css" rel="stylesheet" />
</head>
<body>
    <script type="text/javascript">
        ATS_WebUIHost = "@ViewBag.ATS_WebUIHost";
        ATS_ServiceURL = "@ViewBag.ATS_ServiceURL";
        console.log("log: "+ ATS_ServiceURL);
    </script>
    @RenderBody()
    
</body>
</html>
