$color-theme-darker: #004578;
$color-theme-dark: #005a9e;
$color-theme-dark-alt: #106ebe;
$color-theme-primary: #0078d4;
$color-theme-secondary: #2b88d8;
$color-theme-tertiary: #71afe5;
$color-theme-light: #c7e0f4;
$color-theme-lighter: #deecf9;
$color-theme-lighter-alt: #eff6fc;

$color-black: #000;
$color-neutral-dark: #212121;
$color-neutral-primary: #333;
$color-neutral-primary-alt: #3c3c3c;
$color-neutral-primary-light: #404040;
$color-neutral-secondary: #666;
$color-neutral-secondary-alt: #909090;
$color-neutral-tertiary: #a6a6a6;
$color-neutral-tertiary-alt: #c8c8c8;
$color-neutral-quaternary: #d0d0d0;
$color-neutral-quaternary-alt: #dadada;
$color-neutral-light: #eaeaea;
$color-neutral-lighter: #f4f4f4;
$color-neutral-lighter-alt: #f8f8f8;
$color-white: #fff;

$color-form-item-border: #ccc;
$color-form-item-background: $color-white;
$color-form-item-button-border: #afafaf;
$color-form-item-button-icon-background: #d4d4d4;

$color-blue-dark: #002050;
$color-blue-mid: #00188f;
$color-blue: #0078d4;
$color-blue-alt: #2763cd;
$color-blue-light: #00bcf2;
$color-blue-muted: #2888d2;

$color-green-dark: #004b1c;
$color-green: #107c10;
$color-green-light: #bad80a;
$color-green-lighter: #7ebb00;
$color-green-notification: #7fba00;

$color-magenta-dark: #5c005c;
$color-magenta: #b4009e;
$color-magenta-light: #e3008c;

$color-orange: #d83b01;
$color-orange-light: #ea4300;
$color-orange-lighter: #ff8c00;
$color-orange-notification: #ff8c00;

$color-purple-dark: #32145a;
$color-purple: #5c2d91;
$color-purple-light: #b4a0ff;

$color-red: #e81123;
$color-red-type: #c12300;
$color-red-dark: #a80000;
$color-red-notification: #e81123;

$color-teal-dark: #004b50;
$color-teal: #008272;
$color-teal-light: #00b294;

$color-yellow: #ffb900;
$color-yellow-light: #fff100;
