.candidates-main-header {
  margin-bottom: 15px;
  background: #fff;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.candidates-main-header h3 {
  font-weight: 400;
  font-size: 1.1rem;
  color: #666;
}

.candidates-left-inner {
  background: #fff;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.1);
  box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.1);
}

.candidates-left h2 {
  font-size: 16px;
  margin: 10px 0;
}

.candidates-left .accordion__title h3 {
  font-size: 16px;
  font-weight: 500;
}

.candidates-left .accordion__body {
  font-size: 15px;
}

.candidates-left .accordion__body .filter-each {
  margin: 0 0 15px 0;
  display: block;
}

.candidates-left .accordion__body .filter-each form {
  display: inline-block;
  margin: 0 10px 0 0;
  width: 100%;
}

.candidates-left .accordion__body .filter-each form .form-check {
  margin: 0 0 15px 0;
}

.candidates-left .accordion__body .filter-each form span.badge {
  display: inline-block;
  margin: 0 0px 0 0;
  background: #e2e2e4;
  font-size: 14px;
  color: #919193;
  padding: 5px;
  float: right;
}

.candidates-left .accordion__body .filter-each label {
  display: inline-block;
  margin: 0 10px 0 0;
  font-size: 14px;
}

.candidates-action-btns {
  text-align: right;
}

.candidates-action-btns a, .candidates-action-btns button {
  display: inline-block;
  margin-right: 10px;
}

.addcandidates {
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
}

.addcandidates h2 {
  font-weight: 600;
  font-size: 16px;
}

.addcandidates .accordion {
  width: 100%;
  border: 0px;
}

.addcandidates .accordion__title {
  background: none;
  position: relative;
  padding: 15px;
}

.addcandidates .accordion__title:hover {
  background: none;
}

.addcandidates .accordion__title h3 {
  font-size: 16px;
  margin: 0;
  font-weight: 500;
}

.addcandidates .accordion__arrow {
  right: 15px;
}

.addcandidates .accordion__body {
  font-size: 15px;
}

.addcandidates-each {
  border-top: #d9d9d9 solid 1px;
  padding-top: 15px;
  margin-top: 15px;
  padding-bottom: 15px;
}

.addcandidates form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.addcandidates form label {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}

.addcandidates form label input {
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
}

.addcandidates form label sup {
  color: red;
  font-size: 11px;
}

.addcandidates form .form-control {
  font-size: 13px;
}

.addcandidatesbulk {
  background: #fff;
  height: calc(100vh - 240px);
}

.addcandidatesbulk-top {
  height: calc(100% - 100px);
  text-align: center;
  padding: 100px 0 0 0;
}

.addcandidatesbulk-top h2 {
  font-size: 24px;
  margin: 0 0 10px 0;
}

.addcandidatesbulk-top p {
  font-size: 16px;
  margin: 0 0 10px 0;
}

.addcandidatesbulk-top-upload {
  margin: 0 auto;
}

.addcandidatesbulk-bottom {
  height: 100px;
  line-height: 100px;
  font-size: 14px;
  text-align: center;
  border-top: 1px solid #cacaca;
}
/*# sourceMappingURL=Candidates.css.map */