.candidates-main-header h3 {
    font-size: 2rem;
}

.activeRow {
    padding: 0px 0px 15px 30px;
}

.btnActive {
    background-color: #002357 !important;
    padding: 4px 20px !important;
    border: none;
    border-radius: 0px !important;

    &:active {
        outline: none !important;
    }

    &:focus {
        outline: none !important;
    }
}

.jobDetail {
    padding: 0 1.5rem;
    flex-flow: row wrap;
    /* justify-content: space-between; */
    border-bottom: 3px solid #adb5bd;

    & p:first-child {
        padding: 0px 30px 0px 0px;
    }

    & p {
        padding: 0px 30px;
    }
}

.candidateGrid {
    flex-flow: row wrap;
    justify-content: space-between;
    flex: 1 0 auto;
    background-color: #f4f4f4;

    & span {
        line-height: 85px;
        color: #ddd;
        font-size: 60px;
    }
}

.candidate-review {
    & h4 {
        margin-bottom: 15px;
    }
}

.candidateGrid-each {
    padding: 15px;
    display: flex;
    flex-flow: column wrap;
    flex: 0 0 18.6%;
    justify-content: space-between;
    // border-right: 2px solid #ccc;

    &:last-child {
        border-right: none;
    }

    & h5 {
        margin: 0 0 5px 0;
        color: #282828;
        font-size: 14px;
    }

    & p {
        font-size: 2.5rem;
        font-weight: 300;
        color: #0f55df;
        margin-bottom: 0px;
    }
}

.pieBorder {
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.topCandidate {
    & li {
        & h6 {
            color: #0073c6;
            font-size: 14px;
            font-weight: 600;
        }

        // & p {
        //     margin-bottom: 0px;
        // }

        & i {
            margin: 0px 10px;
        }
    }
}

.upcomingCandidate {
   & h6 {
        font-size: 14px;
    }
}

/* cadidate360-candidates css */
.candidateChevron {
    & i {
        font-size: 1.5rem;
        margin-left: 10px;
    }
}



/* stars Css */
.rating {
    float: left;

    &:not(:checked) {
        > {
            input {
                position: absolute;
                top: -9999px;
                clip: rect(0, 0, 0, 0);
            }

            label {
                float: right;
                width: 1em;
                /* padding:0 .1em; */
                overflow: hidden;
                white-space: nowrap;
                cursor: pointer;
                font-size: 143%;
                /* line-height:1.2; */
                color: #ddd;

                &:before {
                    content: '★ ';
                }
            }
        }

        >label:hover {
            color: dodgerblue;

            ~label {
                color: dodgerblue;
            }
        }
    }

    >input:checked~label {
        color: dodgerblue;
    }

    > {
        input:checked {

            +label:hover,
            ~label:hover {
                color: dodgerblue;

                ~label {
                    color: dodgerblue;
                }
            }
        }

        label {
            &:hover~input:checked~label {
                color: dodgerblue;
            }

            &:active {
                position: relative;
                top: 2px;
                left: 2px;
            }
        }
    }
}
