@charset "UTF-8";
.candidates-main-header h3 {
  font-size: 2rem;
}

.activeRow {
  padding: 0px 0px 15px 30px;
}

.btnActive {
  background-color: #002357 !important;
  padding: 4px 20px !important;
  border: none;
  border-radius: 0px !important;
}

.btnActive:active {
  outline: none !important;
}

.btnActive:focus {
  outline: none !important;
}

.jobDetail {
  padding: 0 1.5rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  /* justify-content: space-between; */
  border-bottom: 3px solid #adb5bd;
}

.jobDetail p:first-child {
  padding: 0px 30px 0px 0px;
}

.jobDetail p {
  padding: 0px 30px;
}

.candidateGrid {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  background-color: #f4f4f4;
}

.candidateGrid span {
  line-height: 85px;
  color: #ddd;
  font-size: 60px;
}

.candidate-review h4 {
  margin-bottom: 15px;
}

.candidateGrid-each {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 18.6%;
          flex: 0 0 18.6%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.candidateGrid-each:last-child {
  border-right: none;
}

.candidateGrid-each h5 {
  margin: 0 0 5px 0;
  color: #282828;
  font-size: 14px;
}

.candidateGrid-each p {
  font-size: 2.5rem;
  font-weight: 300;
  color: #0f55df;
  margin-bottom: 0px;
}

.pieBorder {
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.topCandidate li h6 {
  color: #0073c6;
  font-size: 14px;
  font-weight: 600;
}

.topCandidate li i {
  margin: 0px 10px;
}

.upcomingCandidate h6 {
  font-size: 14px;
}

/* cadidate360-candidates css */
.candidateChevron i {
  font-size: 1.5rem;
  margin-left: 10px;
}

/* stars Css */
.rating {
  float: left;
}

.rating:not(:checked) > input {
  position: absolute;
  top: -9999px;
  clip: rect(0, 0, 0, 0);
}

.rating:not(:checked) > label {
  float: right;
  width: 1em;
  /* padding:0 .1em; */
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 143%;
  /* line-height:1.2; */
  color: #ddd;
}

.rating:not(:checked) > label:before {
  content: '★ ';
}

.rating:not(:checked) > label:hover {
  color: dodgerblue;
}

.rating:not(:checked) > label:hover ~ label {
  color: dodgerblue;
}

.rating > input:checked ~ label {
  color: dodgerblue;
}

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover {
  color: dodgerblue;
}

.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover ~ label {
  color: dodgerblue;
}

.rating > label:hover ~ input:checked ~ label {
  color: dodgerblue;
}

.rating > label:active {
  position: relative;
  top: 2px;
  left: 2px;
}
/*# sourceMappingURL=Jobs.css.map */