.react-tabs{
    &__tab-list{
        margin: 0 !important;
        border-bottom: 1px solid #c1c0c3;
        background: #f4f4f4;
        li{
            border-radius:0px;
            font-size: 1rem;
            padding: 1rem;
        }
    }
    
    &__tab-panel{
       background:#fff;
       padding-top: 15px;
    }
}