################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PTG.ATS.Web/ClientApp/node_modules
/.vs
